* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
  display: grid;
  place-items: center;
}
  
.container {
  border: 1px solid #000;
  border-radius: 8px;
  padding: .8em;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 19.5em;
}

.display {
  border: 1px solid #eee;
  margin-bottom: .8em;
  border-radius: 8px;
  display: grid;
  place-items: end;
  padding: .5em;
  word-break: break-all;
  word-wrap: break-word;
}

.top-display {
  min-height: 1.3rem;
  font-size: 1.3em;
}

.main-display {
  min-height: 2.5rem;
  font-size: 2.5rem;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .5em;
}

.col-span {
  grid-column: span 2;
}

.row-span {
  grid-row: span 2;
}

button {
  background: #f1f1f1;
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 1.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

button:hover {
  background: #ddd;
}