* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #000;
  border-radius: 8px;
  padding: .8em;
  display: grid;
  grid-template-columns: 1fr;
}

.display {
  height: 6em;
  outline: 1px solid #eee;
  margin-bottom: .8em;
}

.buttons {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: .5em;
}

.buttons .keypad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.keypad #clr {
  background: #cbd5e1;
}

.buttons .operator {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.buttons .keypad,
.buttons .operator {
  gap: .5em;
}

.operator img {
  height: 85%;
}

.operator #equal {
  grid-row: span 2;
  background: #334155;
}
.operator .btn {
  background: #cbd5e1;
}

.btn {
  background: #f1f1f1;
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 1.4em;
  display: flex;
  justify-content: center;
  align-items: center;
}